extends Main.pug
block HeadContent 
    title  Copied Page

block append Info
    div The Appended Text for the Block

block prepend Info
    div The Prepended Text for the Block

block PageContent 
    div This is The Copyied Page from Main Page